/* =========================================================
   TEACHER DASHBOARD PAGE
========================================================= */

.TeacherDashboardPage {

    width: 100%;

    min-height: 100vh;

    background-color: #F8F9FB;

    box-sizing: border-box;

    display: flex;

    justify-content: center;

    align-items: center;
}